<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " style="cursor: pointer;" (click)="plus()"><h4>Numéro qui sort plus souvent</h4></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="cursor: pointer;" (click)="moins()"><h4>Numéro qui sort moins souvent</h4></a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-danger" style="cursor: pointer;" (click)="sortie()"><h4>Sortie sur une année</h4></a>
  </li>

  <li class="nav-item">
    <a class="nav-link " style="cursor: pointer;" (click)="ecart()"><h4>Ecart min & max</h4></a>
  </li>
</ul>
<br>
<br>



<div class="container  mx-auto mt-5 ">

  <div class="" style="margin-top:5%">

    <div class="container">
      <!-- Horizonatal Form -->
      <div class="row">
        <div class="col-xs-2">
          <div>
            <div *ngIf="spinner" style="text-align: center">
              <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
            <form class="form-horizontal form-group form-control-range " [formGroup]="sortieForm" (ngSubmit)="OnSubmit()">
              <div class="form-group">
                <label  class="pull-left">Année :</label>
                <select formControlName="year" class="form-control"   name="year">
                  <option *ngFor="let year of years" [ngValue]="year" style="color: #0a0c0d">
                    {{ year }}
                  </option>
                </select>
              </div>

              <label  class="col-xs-2">Chosir un numéro</label>
              <div *ngFor="let index of boulArray" class="btn-toolbar mt-2" role="toolbar" aria-label="Toolbar with button groups">

                <div class="btn-group me-2 btn-block" role="group" aria-label="First group">
                  <button type="button" class="btn btn-primary" (click)="checked(index)">{{index}}</button>
                  <button type="button" class="btn btn-primary" (click)="checked(index+1)">{{index+1}}</button>
                  <button type="button" class="btn btn-primary" (click)="checked(index+2)">{{index+2}}</button>
                  <button type="button" class="btn btn-primary" (click)="checked(index+3)">{{index+3}}</button>
                  <button type="button" class="btn btn-primary" (click)="checked(index+4)">{{index+4}}</button>
                  <button type="button" class="btn btn-primary" (click)="checked(index+5)">{{index+5}}</button>
                  <button type="button" class="btn btn-primary" (click)="checked(index+6)">{{index+6}}</button>
                </div>
              </div>


              <div class="col-xs-10 col-xs-offset-2" style="margin-top: 5%;">
                <button type="submit" class="btn btn-primary" type="submit" class="btn btn-primary pull-right" [disabled]="!sortieForm.valid">Submit</button>
              </div>
            </form>

          </div>
        </div>
        <div class="col-md-8" style="margin-left: 4%">
          <div>
            <div style="display: block">
              <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [plugins]="barChartPlugins"
                      [legend]="barChartLegend"
                      [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

</div>
